.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../Pikachu-background.jpg');
    background-position:bottom;
}

input {
    border-radius: 10px;
    padding-left: 5px;
    margin-right: 10px;
    margin-top: 20px;
    border-color: darkred;
}

button {
    border-radius: 10px;
    border-color: darkred;
    color: azure;
    font-style: white;
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}